@green-color: #1ABB9C;
@green-dark: #035723;
@blue-color: #2A3F54;
@gray-color: #EDEDED;
@side-gray-color: #73879C;
body{
    color: #333!important;
}

.icono-opciones{
    font-size: 25px!important;
    padding-top: 5px;
}

.icono-opciones-files{
    font-size: 15px!important;
    padding-top: 5px;
}

.icono-red{
    color: red;
}

.icono-green{
    color: green;
}

.icono-blue{
    color: blue;
}

.icono-orange{
    color: orangered;
}

.table{
    tr{
        th{
            background: #5A738E;
            color: #fff;
        }
    }
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
    border: 1px solid #aaa!important;
}

.table-items-antiguos{
    thead{
        tr{
            th{
                background: orange;
            }
        }
    }
}

.right_col{

/*    .panel{
        box-shadow: 3px 3px 7px 3px #888888;
        .panel-body{
            .panel{
                box-shadow: none;
                .panel-heading{
                    background: #DEDEDE;
                }
            }
            .table{
                td{
                    padding: 1px 3px!important;
                    font-size: 10px;
                }
            }
        }
    }*/
}
.table-form-solicitud{
    tr:nth-child(even) {
        background: #FFF;
    }
    tbody{
        tr{
            td{
                text-align: right;
            }
            .agrupados{
                #in-tipo-cambio{
                    width: 150px;
                    display: inline-block;
                }
                .one-line{
                    display: inline-block;
                }

            }
        }
    }
}

.table-modal-subir-archivo{
    tr{
        td{
            padding: 7px 10px;
        }
    }
}

.table-solicitudes{
    min-width: 1600px;
    thead{
        tr{
            th{
                font-size: 10px!important;
                a{
                    color: #fff;
                }
            }
        }
    }
    tbody{
        tr{
            td{
                font-size: 10px;
            }
        }
    }
}

.btn-th-solicitud{
    background-color: transparent;
    border: none;
    color: white;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.tbl-modal{
    tr:nth-child(even) {
        background: #FFF;
    }
}
.tbl-modal, .tbl-modal-items{
    tr{
        td, th{
            //font-size: 15px!important;
        }
    }
}

#btn-registro-solicitud{
    font-size: 20px;
    font-weight: bolder;
}

.btn-purple, .btn-purple:hover, .btn-purple:focus{
    background: purple!important;
    color: #FFF!important;
    cursor: initial;
}

.btn-orange, .btn-orange:hover, .btn-orange:focus{
    background: orange!important;
    color: #FFF!important;
    cursor: initial;
}

#generarClave{
    margin-top: 5px;
}
#sidebar-opciones{
    ul{
        li{
            color: @side-gray-color;
            form{
                .btn-primary{
                    background: @green-color;
                }
            }
        }
    }
}

.form-control, .form-group{
    //line-height: 25px!important;
    input:focus{
        background: #e6ffcc;
    }
}

input:focus, textarea:focus, select:focus{
    background: #e6ffcc;
}

.form-group-inline{
    display: inline-block;
}

.form-group-inline-70{
    width: 69%;
}

.form-group-inline-60{
    width: 59%;
}

.form-group-inline-40{
    width: 40%;
}

.form-group-inline-20{
    width: 20%;
}

.form-group-inline-15{
    width: 15%;
}



#form-tipo-cambio{
    display: none;
}

.nav_nombre_empresa{
    display: inline-block;
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    padding-top: 8px;
}
.top_nav .navbar-right{
    width: 30%;
}

.panel-solicitud{
    overflow-x: scroll;
}

.panel-body{
    //font-size: 12px;
}

.btn-gestion, .btn-gestion:hover{
    background: @green-color!important;
    cursor: initial;
}

.site_title{
    width: 100%;
    height: auto!important;
    margin-top: 10px!important;
    margin-bottom: 0px!important;
    img{
        width: 95%;
        height: auto;
    }
}
.nav_title{
    height: auto!important;
}

//pdf solicitud
.pdf-solicitud-title{
    text-align: center;
    .number{
        font-size: 18px;
    }
    
    h1{
        text-transform: uppercase;
        font-size: 24px;
        font-weight: bold;
        margin: 0px;
        padding: 0px;
        margin-bottom: 5px;
    }
    h2{
        font-size: 10px;
        margin: 0px;
        padding: 0px;
        margin-bottom: 5px;
    }
}
#table-firmas{
    tr:nth-child(even) {
        background: #FFF;
    }
    th{
        border: 1px solid #777;
    }
    td{
        text-align: center;
    }
}

.table-contacto-solicitante{
    td{
        font-size: 10px;
        border-top: 0px;
    }
}

#table-firmas, #reporte-solicitud{
    td{
        padding-top: 5px;
        padding-bottom: 0px;
    }

    td:first-child{
        width: 100px;
    }
}
#table-items, #reporte-solicitud, #aprobar-solicitud{
    tr:nth-child(even) {
        background: #fff;
    }
}

#reporte-solicitud{
    margin-bottom: 0px;
}

.panel-items{
    p{
        margin-bottom: 0px!important;
    }
}

//login style
.login-body{
    background: #fff;
}
.login-panel{
    margin-top: 100px;
    border: @blue-color;
    box-shadow: 0px 0px 28px 6px rgba(17, 17, 17,0.75);
    border-radius: 15px;
    .panel-heading{
        background: @blue-color;
        border-radius: 15px 15px 0px 0px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
        color: #fff;
    }
    .panel-body{
        background: @gray-color;
        border-radius: 0px 0px 15px 15px;
        .form-horizontal{
            //margin-left: 20%;
            .form-group{
                .btn-primary{
                    background-color: @blue-color;
                    border-color: @blue-color;
                }
                .btn-primary:hover{
                    background-color: darken(@blue-color, 10%);
                }

            }
        }
    }
    .img-login{
        display: inline-block;
        vertical-align: top;
        width: 100px;
        img{
            height: 155px;
            width: auto;
            position: absolute;
        }
    }
    .form-horizontal{
        display: inline-block;
        width: 80%;
    }
    .login-empresa{
        padding-left: 70px;
        padding-right: 70px;
        min-height: 425px;
        .form-horizontal{
            display: inline-block;
            width: 45%;
            margin-right: 25px;
            #btn-sel-empresa{
                background-color: @green-color;
                border-color: @green-color;
            }
            .btn-seleccion-empresa{
                text-align: center;
                #btn-sel-empresa:hover{
                    background-color: darken(@blue-color, 10%);
                }
            }
        }
        .logo{
            display: inline-block;
            height: 200px;
            width: 200px;
            background: #fff;
            vertical-align: top;
            .inner-logo{
                position: relative;
                height: 200px;
                width: 200px;
                border: 1px solid @blue-color;
                overflow: hidden;
                img{
                    position: absolute;
                    margin-top: auto;
                    margin-bottom: auto;
                    top: 0px;
                    bottom: 0px;
                }
            }
        }
    }
}

#nit{
    appearance: none;
    -webkit-appearance: none;
}

.modal-body{
    h1{
        font-size: 20px;
        font-weight: bold;
    }
    h2{
        font-size: 17px;
    }
}

.modal-footer{
    .btn+.btn {
        margin-bottom: 5px!important;
        margin-left: 0px!important;
    }
}

@media print {
    .no-print{
        visibility: hidden;
    }
    #favoritesModal{
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        padding: 0;
        overflow: visible!important;
    }
    a {
        display:inline;
    }
}

footer{
    background: #F7F7F7!important;
}

.alert-success, .alert-danger{
    margin-top: 50px;
}

ul.pagination{
    li{
        a{
            color: #5A738E;
            font-size: 10px;
        }
    }
    li.disabled{
        span{
            font-size: 10px!important;
        }
    }
    li.active{
        span{
            background-color: #5A738E;
            border-color: #5A738E;
            font-size: 10px;
        }
    }
}

table{
    #datos-adicionales{
        tr{
            td{
                font-weight: bolder;
            }
        }
    }
}

.label-estados{
    font-size: 10px!important;
}

.panel-cuenta-resumen{
    .panel-cuenta-resumen-header{
        text-align: center;
        font-size: 18px;
    }
    .panel-cuenta-resumen-body{
        h2{
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 16px;
        }
        h3{
            margin-top: 3px;
            font-size: 14px;
        }
    }
}

#doc_table{
    tbody{
        tr{
            td{
                .icono-opciones{
                    font-size: 18px!important;
                }
            }
        }
    }
}

.niveles_aprobador{
    left: 0px;
    right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.child_menu{
    li{
        a{
            display: block;
        }
    }
}

.pull-right{
    h2{
        margin: 2px 0px;
        font-size: 14px;
        font-weight: bold;
    }
}

@media (max-width: 478px) {
    .navbar-right{
        width: 100%!important;
    }

    .login-panel{
        .login-empresa{
            padding-left: 30px;
            padding-right: 30px;
            width: 100%;
            .form-horizontal{
                width: 100%!important;
            }
        }
    }

    .nav_nombre_empresa{
        font-size: 14px;
    }
}

@media (min-width: 992px){
    .modal-lg {
        width: 80%!important;
    }
}

#modal-items{
    tr{
        td{
            font-size: 12px;
        }
    }
}